[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
django = "*"
django-registration = "*"
sample-django = {editable = true, path = "."}

[requires]
python_version = "3.7"
